@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Katharine Lowey<br />
    4445 Jupiter St NW<br />
    Albuquerque, NM 87107<br />
    <abbr title="Phone">P:</abbr>
    505.236.9927
</address>

<address>
    <strong>Contact Email:</strong> <a href="mailto:katlowey@gmail.com">katlowey@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:katlowey@gmail.com">katlowey@gmail.com</a>
</address>
