@model NewResume.Models.Employer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Employer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EmployerCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerCity" class="form-control" />
                <span asp-validation-for="EmployerCity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployerEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerEmail" class="form-control" />
                <span asp-validation-for="EmployerEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerName" class="form-control" />
                <span asp-validation-for="EmployerName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployerPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerPhone" class="form-control" />
                <span asp-validation-for="EmployerPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployerState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerState" class="form-control" />
                <span asp-validation-for="EmployerState" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployerStreet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerStreet" class="form-control" />
                <span asp-validation-for="EmployerStreet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployerZip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerZip" class="form-control" />
                <span asp-validation-for="EmployerZip" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
